.[a-z]*
.[A-Z]*
._*
uuid.state
config/*.local
config/database.yml

ramaze.fcgi.log
log/*.log
public/img/*.png

.viminfo
.viminfo*
vendor/*
README.rails_editor
db/*
script/editor
script/spec
script/spec_server
spec/
stories/
tmp/*
service/*
public/gallery/*
download/*

pastr_bot/log/*
pastr_bot/tmp/*
