%div.admin-tasks
  From here you will be able to do things the underprivileged cannot do, such as:
  %ul.admin-task-list
    %li= "Create a #{A('New Paste', :href => "/new")}, without having to get a link from IRC first"
    %li Set up alternate nicknames to recognize you by (not yet implemented)
    %li Get pastr to join (or leave) a channel (not yet implemented)
